.popup-form{
   display: none;
   justify-content: center;
   align-items: center;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.6);
   z-index: 20;
   overflow-y: auto;
   &__wrapper{
      width: 290px;
      height: 450px;
      perspective: 1000px;
            @media(min-width: 350px){
               width: 320px;
               height: 480px;
            }
            @media(min-width: 768px){
               width: 600px;
               height: 404px;
            }
            @media(min-width: 1024px){
               width: 800px;
               height: 360px;
            }
         }
         &__closing-ribbon{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 35px;
         }
         &__closing-icon{
            cursor: pointer;
            &:hover .popup-form__closing-icon-inner{
               stroke: #D5D5D5;
            }
         }
         &__closing-icon-inner{
            stroke: #FFFFFF;
         }
         &__body{
            background-color: #FFFFFF;
            transform: rotateX(180deg) scale(0);
            transform-style: preserve-3d;
            opacity: 0;
            transition: all ease-in 0.3s;
            position: relative;
            height: 100%;
         }
         &__content{
            display: flex;
            flex-direction: column;
            position: absolute;
            width: 100%;
            height: 100%;
            padding: 15px;
            -webkit-backface-visibility: hidden; /* Safari */
            backface-visibility: hidden;
            background-color: #FFFFFF;
            
            @media(min-width: 350px){
               padding: 30px;
            }
            @media(min-width: 768px){
               padding: 50px;
            }
         }
         &__title{
            text-transform: uppercase;
            @include title-third-font;
            margin-bottom: 25px;
            color: var(--color-primary-accent);
         }
         &__input{
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 19px;
            border-bottom: solid 1px var(--color-primary-accent);
            padding: 10px 0;
            margin-bottom: 40px;
            @media(min-width: 768px){
               width: 45%;
            }
            &:first-child{
               @media(min-width: 768px){
                  margin-right: 30px;
               }
            }
         }
         &__button{
            @include buttons-effects--dark;
            @include menu-items-font;
            text-transform: uppercase;
            background-color: var(--buttons-color);
            width: 260px;
            height: 60px;
            color: #FFFFFF;
            margin-bottom: 30px;
            border: solid 1px var(--buttons-color);
            @media(min-width: 768px){
               margin-bottom: 0;
               margin-right: 34px;
               width: 228px;
            }
            &::after{
               content: url(../icons/icon-arrow-form-button.svg);
               position: relative;
               width: 7px;
               height: 7px;
               top: 0;
               left: 10px;
            }
         }
         &__agreement-container{
            @media(min-width: 768px){
               display: flex;
            }
         }
         &__agreement{
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 238px;
            font-family: 'Roboto', sans-serif;
            font-weight: 400;
            font-size: 13px;
            line-height: 15px;
            color: #878787;
            span{
               text-decoration: underline;
               display: inline-block;
            }
            @media(min-width: 1024px){
               width: 309px;
            }
         }
         &__accepted-content{
            display: flex;
            flex-direction: column;
            // justify-content: center;
            align-items: center;
            padding: 11px;
            background-color: #FFFFFF;
            position: absolute;
            width: 100%;
            height: 100%;
            transform: rotateX(180deg);
            -webkit-backface-visibility: hidden; /* Safari */
            backface-visibility: hidden;
            @media(min-width: 768px){
               padding: 50px 100px;
            }
         }
         &__icon{
            margin: 21px auto 20px;
            @media(min-width: 768px){
               margin: 0 auto 22px;
               width: 55px;
               height: 55px;
            }
         }
         &__accepted-title{
            @include title-third-font;
            color: var(--color-primary-accent);
            display: block;
            margin: 0 auto 15px;
            text-align: center;
            text-transform: uppercase;
         }
         &__accepted-text{
            @include plain-text-font;
            color: var(--color-primary-accent);
            display: block;
            margin: 0 auto 50px;
            text-align: center
         }
      }
      .popup-form--active{
         display: flex;
      }
      .popup-form__body--active{
         transform: rotateX(0deg) scale(1);
         opacity: 1;
      }
      .popup-form__content--diactivated{
         display: none;
      }
      .popup-form__wrapper--accepted{
         width: 260px;
         height: 329px;
         @media(min-width: 768px){
            width: 600px;
            height: 394px;
         }
         @media(min-width: 1024px){
            width: 607px;
            height: 394px;
         }
      }
      .popup-form__wrapper--accepted{
         .popup-form__body{
            transform: rotateX(180deg);
         }
      }

      .spacer-portfolio-page{
         width: 100%;
         height: 70px;
         @media(min-width: 768px){
            height: 105px;
         }
      }