// *** Variables ***

//colors
:root {
   --color-primary-accent: #F26513;
   --color-secondary-accent: #3C72CC;
   --site-background-color: #F7F4E7;
   --buttons-color: #393246;
   --decorative-line: #878787;
   --lines: #D5D5D5;
 }

//screens
$tablet-vertical: 768px;
$tablet-horizontal: 1024px;
$pc-small: 1366px;
$pc-large: 1640px;


// *** Mixins

@mixin menu-items-font{
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
   font-size: 14px;
   line-height: 16px;
}
@mixin title-first-font{
   font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 24px;
      line-height: 36px;
      text-transform: uppercase;
      @media(min-width: 768px){
         font-size: 36px;
         line-height: 48px;
      }
}
@mixin title-second-font{
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   font-size: 30px;
   line-height: 36px;
   @media(min-width: 768px){
      font-size: 40px;
      line-height: 54px;
   }
}
@mixin title-third-font{
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   font-size: 20px;
   line-height: 25px;
   @media(min-width: 768px){
      font-size: 30px;
      line-height: 40px;
   }
}
@mixin title-fourth-font{
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   font-size: 21px;
   line-height: 28px;
}
@mixin title-fifth-font{
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   font-size: 16px;
   line-height: 22px;
}
@mixin sub-title-font{
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   font-size: 16px;
   line-height: 21px;
}
@mixin descriptions-font{
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
   font-size: 18px;
   line-height: 24px;
   @media(min-width: 768px){
      font-size: 21px;
      line-height: 28px;
   }
}
@mixin plain-text-font{
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
   font-size: 16px;
   line-height: 21px;
}
@mixin buttons-font{
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   font-size: 16px;
   line-height: 21px;
}
@mixin background-image-settings{
   background-position: center bottom;
   background-size: cover;
   background-origin: padding-box;
}
@mixin buttons-effects--white{
   transition-duration: 0.3s;
   &:hover{
      background-color: var(--buttons-color);
      border: solid var(--buttons-color) 1px;
      color: #FFFFFF;
   }
   &:active{
      background-color: #4A415A;
      border: solid var(--buttons-color) 1px;
      color: #FFFFFF;
   }
}
@mixin buttons-effects--dark{
   transition-duration: 0.3s;
   &:hover{
      background-color: #4A415A;
      border: solid var(--buttons-color) 1px;
      color: #FFFFFF;
   }
   &:active{
      background-color: #63557C;
      border: solid var(--buttons-color) 1px;
      color: #FFFFFF;
   }
}
@mixin menu-items-hover{
   &:hover{
      color: var(--buttons-color);
      border-bottom: solid var(--buttons-color) 1px;
   }
}
