// *** Variables ***

//colors
:root {
   --color-primary-accent: #777777;
   --buttons-color: #393246;
   --decorative-line: #878787;
   --lines: #D5D5D5;
 }
$accent: #777777;
$buttons-color: #393246;
$decorative-line: #878787;
$lines: #D5D5D5;

//icons svg variables
$icon-arrow-up: "data:image/svg+xml,%3Csvg width='30' height='31' viewBox='0 0 30 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='15.3076' r='14.5' transform='rotate(-90 15 15.3076)' stroke='%23D5D5D5'/%3E%3Cpath d='M21.1066 9.70114C21.1066 9.42499 20.8827 9.20114 20.6066 9.20114L16.1066 9.20114C15.8305 9.20114 15.6066 9.42499 15.6066 9.70114C15.6066 9.97728 15.8305 10.2011 16.1066 10.2011L20.1066 10.2011V14.2011C20.1066 14.4773 20.3305 14.7011 20.6066 14.7011C20.8827 14.7011 21.1066 14.4773 21.1066 14.2011L21.1066 9.70114ZM10.3536 20.6613L20.9602 10.0547L20.253 9.34758L9.64645 19.9542L10.3536 20.6613Z' fill='%23777777'/%3E%3C/svg%3E";

$icon-arrow-down: "data:image/svg+xml,%3Csvg width='31' height='30' viewBox='0 0 31 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15.6914' cy='15' r='14.5' stroke='%23D5D5D5'/%3E%3Cpath d='M21.298 21.1066C21.5742 21.1066 21.798 20.8827 21.798 20.6066L21.798 16.1066C21.798 15.8305 21.5742 15.6066 21.298 15.6066C21.0219 15.6066 20.798 15.8305 20.798 16.1066V20.1066L16.798 20.1066C16.5219 20.1066 16.298 20.3305 16.298 20.6066C16.298 20.8827 16.5219 21.1066 16.798 21.1066L21.298 21.1066ZM10.3379 10.3536L20.9445 20.9602L21.6516 20.253L11.045 9.64645L10.3379 10.3536Z' fill='%23777777'/%3E%3C/svg%3E";
$icon-arrow-down-hover: "data:image/svg+xml,%3Csvg width='31' height='30' viewBox='0 0 31 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15.6914' cy='15' r='14.5' stroke='%23393246'/%3E%3Cpath d='M21.298 21.1066C21.5742 21.1066 21.798 20.8827 21.798 20.6066L21.798 16.1066C21.798 15.8305 21.5742 15.6066 21.298 15.6066C21.0219 15.6066 20.798 15.8305 20.798 16.1066V20.1066L16.798 20.1066C16.5219 20.1066 16.298 20.3305 16.298 20.6066C16.298 20.8827 16.5219 21.1066 16.798 21.1066L21.298 21.1066ZM10.3379 10.3536L20.9445 20.9602L21.6516 20.253L11.045 9.64645L10.3379 10.3536Z' fill='%23393246'/%3E%3C/svg%3E";
$icon-arrow-up-hover: "data:image/svg+xml,%3Csvg width='30' height='31' viewBox='0 0 30 31' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='15' cy='15.3076' r='14.5' transform='rotate(-90 15 15.3076)' stroke='%23393246'/%3E%3Cpath d='M21.1066 9.70114C21.1066 9.42499 20.8827 9.20114 20.6066 9.20114L16.1066 9.20114C15.8305 9.20114 15.6066 9.42499 15.6066 9.70114C15.6066 9.97728 15.8305 10.2011 16.1066 10.2011L20.1066 10.2011V14.2011C20.1066 14.4773 20.3305 14.7011 20.6066 14.7011C20.8827 14.7011 21.1066 14.4773 21.1066 14.2011L21.1066 9.70114ZM10.3536 20.6613L20.9602 10.0547L20.253 9.34758L9.64645 19.9542L10.3536 20.6613Z' fill='%23393246'/%3E%3C/svg%3E";

// *** Mixins ***

@mixin menu-items-font{
   font-family: 'Roboto Condensed', sans-serif;
   font-weight: 400;
   font-size: 14px;
   line-height: 16px;
   letter-spacing: 0.15em;
}
@mixin title-first-font{
   font-family: 'Roboto Condensed', sans-serif;
      font-weight: 300;
      font-size: 60px;
      line-height: 70px;
      letter-spacing: 0.08em;
      text-transform: uppercase;
      @media(min-width: 768px){
         font-size: 80px;
         line-height: 80px;
      }
}
@mixin title-second-font{
   font-family: 'Roboto Condensed', sans-serif;
   font-weight: 300;
   font-size: 30px;
   line-height: 36px;
   letter-spacing: 0.08em;
   @media(min-width: 768px){
      font-size: 40px;
      line-height: 46px;
   }
}
@mixin title-third-font{
   font-family: 'Roboto Condensed', sans-serif;
   font-weight: 300;
   font-size: 20px;
   line-height: 25px;
   letter-spacing: 0.08em;
   @media(min-width: 768px){
      font-size: 30px;
      line-height: 45px;
   }
}
@mixin title-fourth-font{
   font-family: 'Roboto Condensed', sans-serif;
   font-weight: 300;
   font-size: 16px;
   line-height: 24px;
   letter-spacing: 0.12em;
   @media(min-width: 768px){
      font-size: 20px;
      line-height: 27px;
   }
}
@mixin sub-title-font{
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   font-size: 18px;
   line-height: 24px;
   @media(min-width: 768px){
      font-size: 18px;
      line-height: 27px;
   }
}
@mixin plain-text-font{
   font-family: 'Roboto', sans-serif;
   font-weight: 300;
   font-size: 16px;
   line-height: 24px;
}
@mixin background-image-settings{
   background-position: center bottom;
   background-size: cover;
   background-origin: padding-box;
}
@mixin buttons-effects--white{
   transition-duration: 0.3s;
   &:hover{
      background-color: $buttons-color;
      border: solid $buttons-color 1px;
      color: #FFFFFF;
   }
   &:active{
      background-color: #4A415A;
      border: solid $buttons-color 1px;
      color: #FFFFFF;
   }
}
@mixin buttons-effects--dark{
   transition-duration: 0.3s;
   &:hover{
      background-color: #4A415A;
      border: solid $buttons-color 1px;
      color: #FFFFFF;
   }
   &:active{
      background-color: #63557C;
      border: solid $buttons-color 1px;
      color: #FFFFFF;
   }
}
@mixin menu-items-hover{
   &:hover{
      color: $buttons-color;
      border-bottom: solid $buttons-color 1px;
   }
}
