// *** Variables ***

//colors
:root {
   --color-primary-accent: #F26513;
   --color-secondary-accent: #3C72CC;
   --site-background-color: #F7F4E7;
   --buttons-color: #393246;
   --decorative-line: #878787;
   --lines: #D5D5D5;
 }

//screens
$tablet-vertical: 768px;
$tablet-horizontal: 1024px;
$pc-small: 1366px;
$pc-large: 1640px;


// *** Mixins

@mixin menu-items-font{
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
   font-size: 14px;
   line-height: 16px;
}
@mixin title-first-font{
   font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 32px;
      line-height: 1em;
      text-transform: uppercase;
      @media(min-width: 768px){
         font-size: 64px;
         line-height: 1em;
      }
}
@mixin title-second-font{
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   font-size: 20px;
   line-height: 1.36em;
   @media(min-width: 768px){
      font-size: 40px;
      line-height: 1.36em;
   }
}
@mixin title-third-font{
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   font-size: 12px;
   line-height: 1.36em;
   @media(min-width: 768px){
      font-size: 24px;
      line-height: 1.36em;
   }
}
// @mixin title-fourth-font{
//    font-family: 'Montserrat', sans-serif;
//    font-weight: 700;
//    font-size: 21px;
//    line-height: 28px;
// }
// @mixin title-fifth-font{
//    font-family: 'Montserrat', sans-serif;
//    font-weight: 700;
//    font-size: 16px;
//    line-height: 22px;
// }
// @mixin sub-title-font{
//    font-family: 'Montserrat', sans-serif;
//    font-weight: 700;
//    font-size: 16px;
//    line-height: 21px;
// }
@mixin p-first-font{
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
   font-size: 24px;
   line-height: 1.36em;
   @media(min-width: 768px){
      font-size: 21px;
   }
}
@mixin p-second-font{
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
   font-size: 20px;
   line-height: 1.36em;
   @media(min-width: 768px){
      font-size: 16px;
   }
}
@mixin p-third-font{
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
   font-size: 14px;
   line-height: 1.36em;
   @media(min-width: 768px){
      font-size: 12px;
   }
}
@mixin buttons-font{
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   font-size: 16px;
   line-height: 27px;
}
@mixin links-font{
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
   font-size: 24px;
   line-height: 1.36em;
   text-decoration: underline;
   &:hover{
   font-weight: 700;
   text-decoration: none;
   }
   @media(min-width: $tablet-vertical){
   font-size: 20px;
   }
}
@mixin background-image-settings{
   background-position: center bottom;
   background-size: cover;
   background-origin: padding-box;
}
@mixin buttons-style--blue{
   background-color: var(--color-secondary-accent);
   transition-duration: 0.3s;
   border-radius: 1rem;
   color: #FFFFFF;
   border: solid var(--color-secondary-accent) 2px;
   &:hover{
      background-color: transparent;
      color: var(--color-secondary-accent);
   }
   // &:active{
   //    background-color: #4A415A;
   //    border: solid var(--buttons-color) 1px;
   //    color: #FFFFFF;
   // }
}
@mixin buttons-style--orange{
   background-color: var(--color-primary-accent);
   transition-duration: 0.3s;
   border-radius: 1rem;
   color: #FFFFFF;
   border: solid var(--color-primary-accent) 2px;
   &:hover{
      background-color: transparent;
      color: var(--color-primary-accent);
   }
   // &:active{
   //    background-color: #63557C;
   //    border: solid var(--buttons-color) 1px;
   //    color: #FFFFFF;
   // }
}

// keyframes for animation

@keyframes parallax-outer--left{
   from{
      transform: rotate(0) translate(30%, -100%);
   }
   20%{
      transform: rotate(5deg) translate(0, -55%);
   }
   40%{
      transform: rotate(10deg) translate(-20%, -40%);
   }
   60%{
      transform: rotate(5deg) translate(-10%, 30%);
   }
   80%{
      transform: rotate(0deg) translate(10%, 15%);
   }
   to{
      transform: rotate(5deg) translate(20%, 20%);
   }
}

@keyframes parallax-outer--middle{
   from{
      transform: rotate(-5deg) translate(30%, -10%);
   }
   20%{
      transform: rotate(-10deg), translate(0, 0);
   }
   40%{
      transform: rotate(-15deg) translate(-30%, 10%);
   }
   60%{
      transform: rotate(-10deg) translate(-50%, 20%);
   }
   80%{
      transform: rotate(-5deg) translate(-20%, 15%);
   }
   to{
      transform: rotate(0deg) translate(20%, 0);
   }
}

@keyframes parallax-outer--right{
   from{
      transform: rotate(320deg) translate(-30%, 100%);
   }
   20%{
      transform: rotate(325deg) translate(0, 55%);
   }
   40%{
      transform: rotate(320deg) translate(20%, 40%);
   }
   60%{
      transform: rotate(325deg) translate(10%, -30%);
   }
   80%{
      transform: rotate(330deg) translate(-10%, -15%);
   }
   to{
      transform: rotate(325deg) translate(-20%, -20%);
   }
}

@keyframes parallax-single{
   from{
      transform: rotate(320deg) translate(-5%, 10%);
   }
   20%{
      transform: rotate(325deg) translate(0, 15%);
   }
   40%{
      transform: rotate(320deg) translate(15%, 5%);
   }
   60%{
      transform: rotate(325deg) translate(20%, -10%);
   }
   80%{
      transform: rotate(330deg) translate(0%, -30%);
   }
   to{
      transform: rotate(325deg) translate(-10%, -20%);
   }
}
