@import '_null';
@import '../../node_modules/normalize.css/normalize';
@import '_vars';
@import '_global-elements';
@import '_fonts';

body{
   position: relative;
}
.wrapper{
   // start footer adjustment
   display: flex;
   flex-direction: column;
   min-height: 100%;
   // end footer adjustment
   width: 100%;
   // overflow-x: hidden;
}
.container{
   width: 290px;
   margin: 0 auto;
   // padding: 0 15px;
   @media(min-width: 768px){
      width: 676px;
   }
   @media(min-width: 1024px){
      width: 940px;
   }
   @media(min-width: 1366px){
      width: 1100px;
   }
   @media(min-width: 1640px){
      width: 1400px;
   }
   &__inner{
      width: 290px;
      margin: 0 auto;
      // padding: 0 15px;
      @media(min-width: 768px){
         width: 580px;
      }
      @media(min-width: 1024px){
         width: 840px;
      }
      @media(min-width: 1366px){
         width: 1100px;
      }
      @media(min-width: 1640px){
         width: 1200px;
      }
   }
}
.header{
   display: flex;
   background: var(--color-primary-accent);
   flex-direction: column;
   justify-content: center;
   height: 70px;
   position: fixed;
   margin: 0 auto;
   width: 100%;
   color: #FFFFFF;
   transition: all 0.2s;
   z-index: 5;
   @media(min-width: 768px){
      height: 105px;
      margin-right: 80px;
   }
   @media(min-width: 1024px){
      margin-right: 0px;
      // margin-left: 10px;
   }
   &__content{
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__menu-icon{
      display: flex;
      flex-direction: column;
      justify-content: center;
      // flex: 0 0 auto;
      height: 19px;
      width: 40px;
      position: relative;
      border-top: solid #FFFFFF 3px;
      border-bottom: solid #FFFFFF 3px;
      cursor: pointer;
      z-index: 6;
      @media(min-width: 1024px){
         display: none;
      }
   }
   &__menu-icon--bluebg{
      border-top: solid var(--color-primary-accent) 3px;
      border-bottom: solid var(--color-primary-accent) 3px;
   }
   &__menu-icon-item{
      width: 100%;
      height: 3px;
      background-color: #FFFFFF;
   }
   &__menu-icon-item--bluebg{
      background-color: var(--color-primary-accent);
   }
}
.logo{
   // flex: 0 0 auto;
   width: 90px;
   // height: 30px;
   background: transparent;
   z-index: 6;
   @media(min-width: 768px){
      width: 120px;
      // height: 70px;
   }
   &__image{
      width: 100%;
      object-fit: contain;
   }
}
.navigation{
   display: block;
   flex: 0;
   position: relative;
   left: 16px;
   @media(min-width: 1024px){
      flex: 1;
   }
   &__list{
      position: absolute;
      top: 10%;
      left: 10%;
      right: 10%;
      @media(min-width: 1024px){
         position: static;
         justify-content: flex-end;
         align-items: center;
         flex: 1;
         display: flex;
      }
   }
   &__list-item{
      position: relative;
      margin: 40px auto;
      @media(min-width: 450px){
         margin: 60px auto;
      }
      @media(min-width: 1024px){
         margin: 0 20px 0 0;
         &:last-child{
            margin-right: 0px;
         }
      }
   }
   &__inner-list-trigger{
      @media(min-width: 1024px){
         padding: 15px 0;
      }
      &:hover .navigation__inner-list{
         opacity: 1;
         visibility: visible;
         pointer-events: all;
      }
   }
   &__inner-list{
      display: none;
      transition: all 0.2s ease 0s;
      margin: 40px 0 0 20px;
      background-color: rgba(51, 51, 51, 0.4);
      padding: 30px 10px 20px 20px;
      @media(min-width: 450px){
         margin: 40px 0 0 30px;
      }
      @media(min-width: 1024px){
         width: 150px;
         display: block;
         opacity: 0;
         visibility: hidden;
         pointer-events: none;
         position: absolute;
         top: 10%;
         left: -45%;
         background-color: rgba(51, 51, 51, 1);
         padding: 10px 10px;
      }
   }
   &__inner-list--active{
      display: block;
   }
   &__inner-list-item{
      margin: 20px 0 0 0;
      line-height: 26px;
      @media(min-width: 450px){
         margin: 50px 0 0 0;
      }
      @media(min-width: 1024px){
         line-height: 16px;
         margin: 10px 0 0 0;
      }
      &:first-child{
         margin: 0;
      }
   }
   &__link{
      text-transform: uppercase;
      @include menu-items-font;
      font-size: 24px;
      cursor: pointer;
      &:hover{
         @media(min-width: 1024px){
            border-bottom: solid #FFFFFF 1px;
         }
      }
      @media(min-width: 450px){
         font-size: 40px;
      }
      @media(min-width: 1024px){
         @include menu-items-font;
      }
   }
   &__body{
      @media(max-width: 1023px){
         display: flex;
         position: fixed;
         left: 0;
         top: -100%;
         width: 100%;
         height: 100%;
         background-color: rgba(0, 0, 0, 0.98);
         transition: top 0.3s ease 0s;
         overflow: auto;
         justify-content: center;
         align-items: center;
         z-index: 5;
      }
   }
   &__body--active{
      top: 0;
   }
}


.main{
   flex: 1 0 auto;
}
.about{
   margin-top: 70px;
   @media(min-width: 768px){
      margin-top: 150px;
   }
   &__inner-container{
      width: 100%;
      margin: 0 auto;
   }
   &__title{
      @include title-first-font;
      color: var(--color-secondary-accent);
      margin-bottom: 23px;
      @media(min-width: 768px){
         margin-bottom: 30px;
         max-width: 442px;
      }
      @media(min-width: 768px){
         margin-bottom: 50px;
         max-width: initial;
      }
   }
   &__columns-block{
      text-align: center;
      display: flex;
      flex-direction: column-reverse;
      @media(min-width: 1024px){
         flex-direction: row;
         column-gap: 40px;
      }
      @media(min-width: 1408px){
         column-gap: 60px;
      }
   }
   &__flex-column{
      &:first-child{
         flex: 0 0 30%;
      }
      &:last-child{
         flex: 1;
      }
   }
   &__description{
      @include descriptions-font;
      color: var(--color-secondary-accent);
      margin: 0 auto 39px auto;
      display: block;
      text-align: center;
      @media(min-width: 768px){
         margin-bottom: 30px;
         max-width: 442px;
      }
      @media(min-width: 1024px){
         margin-bottom: 50px;
         max-width: none;
      }
   }
   &__sub-title{
      @include sub-title-font;
      color: var(--color-secondary-accent);
      margin-bottom: 39px;
      text-align: center;
      &:last-child{
         text-decoration: underline;
         margin-bottom: 0;
      }
   }
   &__button{
      @include buttons-font;
      width: 70%;
      padding: 25px;
      margin: 0 auto 39px;
      // height: 77px;
      background-color: var(--color-primary-accent);
      color: #FFFFFF;
   }
   &__image-container{
      margin: 0 auto;
      width: 100%;
      overflow: hidden;
      @media(min-width: 768px){
         max-height: initial;
         max-width: initial;
      }
      @media(min-width: 1024px){
         width: 100%;
      }
   }
   &__image-container--inside{
      display: none;
      @media(min-width: 768px){
         display: block;
      }
   }
   &__image-container--outside{
      @media(min-width: 768px){
         display: none;
      }
   }
   &__image{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom center;
      @media(min-width: 1024px){
         object-position: 56% bottom;
      }
   }
   &__text-block{
      margin-top: 35px;
      width: 100%;
      padding: 20px 10px;
      background-color: var(--color-primary-accent);
      color: #FFFFFF;
      text-align: center;
      @media(min-width: 768px){
         padding: 30px 25px;
      }
      @media(min-width: 1024px){
         padding: 45px 100px;
      }
   }
   &__text-block-plain-text{
      @include plain-text-font;
      margin-bottom: 15px;
      &:nth-child(2){
         margin-bottom: 34px;
      }
      &:last-child{
         margin: 0;
      }
   }
   &__text-block-sub-title{
      @include sub-title-font;
      margin-bottom: 15px;
   }
   &__text-block-link{
      text-decoration: underline;
   }
   &__third-title{
      @include title-third-font;
      color: var(--color-secondary-accent);
      margin: 50px auto 20px;
      text-align: center;
   }
   &__discover-more-link{
      display: block;
      @include plain-text-font;
      color: var(--color-secondary-accent);
      text-align: center;
      text-decoration: underline;
   }
}

.service-cards{
   display: grid;
   row-gap: 40px;
   margin-bottom: 50px;
   @media(min-width: 768px){
      display: grid;
      grid-template-columns: repeat(2, 1fr);
   }
   @media(min-width: 1024px){
      display: grid;
      grid-template-columns: repeat(3, 1fr);
   }
   @media(min-width: 1366px){
      display: grid;
      row-gap: 60px;
      grid-template-columns: repeat(4, 1fr);
   }
   @media(min-width: 1640px){
      column-gap: 40px;
      display: grid;
      grid-template-columns: repeat(7, 1fr);
   }
   &__card-container{
      @media(min-width: 768px){
         &:last-child{
            grid-column-start: span 2;
         }
      }
      @media(min-width: 1024px){
         &:last-child{
            grid-column-start: span 3;
         }
      }
      @media(min-width: 1366px){
         &:nth-child(6){
            grid-column-start: span 2;
         }
         &:last-child{
            grid-column-start: 4;
         }
      }
      @media(min-width: 1640px){
         &:nth-child(6){
            grid-column-start: 6;
         }
         &:last-child{
            grid-column-start: 7;
         }
      }
   }
   &__card-image{
      margin: 0 auto 17px;
      display: block;
   }
   &__card-description{
      @include plain-text-font;
      color: var(--color-secondary-accent);
      text-align: center;
   }
}

.getting{
   margin-top: 72px;
   &__title{
      color: var(--color-secondary-accent);
      @include title-second-font;
      text-align: center;
   }
   &__columns{
      margin-top: 70px;
      @media(min-width: 768px){
         display: flex;
         column-gap: 99px;
      }
   }
   &__column{
      @media(min-width: 768px){
         flex: 0 1 33.333%;
      }
   }
   &__column-title{
      color: var(--color-secondary-accent);
      @include title-fourth-font;
      margin-bottom: 30px; 
   }
   &__column-text{
      @include plain-text-font;
      color: var(--color-secondary-accent);
   }
   &__read-more-link{
      display: block;
      @include sub-title-font;
      color: var(--color-secondary-accent);
      margin-top: 60px;
      text-align: center;
      text-decoration: underline;
   }
}


.cases{
   margin-top: 70px;
   &__title{
      @include title-second-font;
      color: var(--color-secondary-accent);
      text-align: center;
      margin-bottom: 30px;
   }
}

.slider{
   // width: 100%;
   position: relative;
   margin: 0 auto;
   min-width: 0;
   padding: 0 60px;
   &__slide-container{
      width: 250px;
      box-shadow: 1px 1px 5px #c2c4c3, -1px -1px 5px #c2c4c3;
      border-radius: 25px;
      @media(min-width: 768px){
         display: flex;
         column-gap: 30px;
         width: 550px;
         padding: 30px;
         margin: 15px 0 15px 12px;
      }
      @media(min-width: 1024px){
         width: 940px;
      }
      @media(min-width: 1366px){
         width: 1100px;
      }
      @media(min-width: 1640px){
         width: 1400px;
      }
   }
   &__text-block{
      @media(min-width: 768px){
      flex: 1 0 54%;
      }
      @media(min-width: 1640px){
         flex: 1 0 58%;
         }
   }
   &__title{
      @include title-third-font;
      color: var(--color-secondary-accent);
      margin-bottom: 10px;
   }
   &__sub-title{
      @include sub-title-font;
      color: var(--color-secondary-accent);
      margin-bottom: 20px;
   }
   &__description{
      @include plain-text-font;
      color: var(--color-secondary-accent);
      margin-bottom: 20px;
   }
   &__button{
      @include buttons-font;
      width: 60%;
      padding: 20px;
      margin: 0 auto 30px;
      // height: 77px;
      background-color: var(--color-primary-accent);
      color: #FFFFFF;
      @media(min-width: 768px){
         width: 200px;
         }
   }
   &__question-link{
      display: block;
      @include sub-title-font;
      color: var(--color-secondary-accent);
      text-decoration: underline;
   }
   &__image{
      width: 100%;
   }
}
.slick-list{
   overflow: hidden;
}
.slick-track{
   display: flex;
}
.slick-arrow{
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   z-index: 5;
   width: 50px;
   height: 50px;
   font-size: 0;
   transition: all 0.3s;
   &.slick-prev{
      left: 0px;
      background: url(../icons/slider-arrow-privious--grey.svg) 0 0 / 100% no-repeat;
      @media(min-width: 768px){
         &:hover{
            background: url(../icons/slider-arrow-privious--blue.svg) 0 0 / 100% no-repeat;
         }
      }
   }
   &.slick-next{
      right: 0px;
      background: url(../icons/slider-arrow-next--grey.svg) 0 0 / 100% no-repeat;
      @media(min-width: 768px){
         &:hover{
            background: url(../icons/slider-arrow-next--blue.svg) 0 0 / 100% no-repeat;
         }
      }
   }
}

.footer{
   flex: 0 0 auto;
   height: 250px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   background-color: #F7F7F7;
   &__container{
      margin: 0 auto;
   }
   &__instagram-link{
      margin: 0 auto 30px;
      text-align: center;
   }
   &__instagram-link-item{
      text-transform: uppercase;
      @include menu-items-font;
      color: var(--color-primary-accent);
      margin: 0 15px;
   }
   &__copyrights{
      margin: 0 auto;
      text-align: center
   }
   &__copyrights-text{
      font-family: 'Roboto', sans-serif;
      font-weight: 300;
      font-size: 13px;
      line-height: 15px;
      color: #878787;
   }
}