@import '_null';
@import '../../node_modules/normalize.css/normalize';
@import '_vars';
@import '_global-elements';
@import '_fonts';

body{
   position: relative;
   background-color: var(--site-background-color);
}
.wrapper{
   // start footer adjustment
   display: flex;
   flex-direction: column;
   min-height: 100%;
   // end footer adjustment
   width: 100%;
   // overflow-x: hidden;
}
.container{
   width: 290px;
   margin: 0 auto;
   // padding: 0 15px;
   @media(min-width: $tablet-vertical){
      width: 676px;
   }
   @media(min-width: $tablet-horizontal){
      width: 940px;
   }
   @media(min-width: $pc-small){
      width: 1100px;
   }
   @media(min-width: $pc-large){
      width: 1400px;
   }
   &__inner{
      width: 290px;
      margin: 0 auto;
      // padding: 0 15px;
      @media(min-width: $tablet-vertical){
         width: 580px;
      }
      @media(min-width: $tablet-horizontal){
         width: 840px;
      }
      @media(min-width: $pc-small){
         width: 1100px;
      }
      @media(min-width: $pc-large){
         width: 1200px;
      }
   }
}
.header{
   display: flex;
   background: var(--color-primary-accent);
   flex-direction: column;
   justify-content: center;
   height: 70px;
   position: fixed;
   margin: 0 auto;
   width: 100%;
   color: var(--color-secondary-accent);
   transition: all 0.2s;
   z-index: 5;
   background-color: var(--site-background-color);
   border-bottom: solid var(--color-secondary-accent) 1px;
   @media(min-width: $tablet-vertical){
      height: 105px;
      margin-right: 80px;
   }
   @media(min-width: $tablet-horizontal){
      margin-right: 0px;
      // margin-left: 10px;
   }
   &__content{
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   &__menu-icon{
      display: flex;
      flex-direction: column;
      justify-content: center;
      // flex: 0 0 auto;
      height: 19px;
      width: 40px;
      position: relative;
      border-top: solid var(--color-secondary-accent) 3px;
      border-bottom: solid var(--color-secondary-accent) 3px;
      cursor: pointer;
      z-index: 6;
      @media(min-width: $tablet-horizontal){
         display: none;
      }
   }
   &__menu-icon--bluebg{
      border-top: solid var(--color-primary-accent) 3px;
      border-bottom: solid var(--color-primary-accent) 3px;
   }
   &__menu-icon-item{
      width: 100%;
      height: 3px;
      background-color: var(--color-secondary-accent);
   }
}
.logo{
   // flex: 0 0 auto;
   width: 90px;
   // height: 30px;
   background: transparent;
   z-index: 6;
   @media(min-width: $tablet-vertical){
      width: 120px;
      // height: 70px;
   }
   &__image{
      width: 100%;
      object-fit: contain;
   }
}
.navigation{
   display: block;
   flex: 0;
   position: relative;
   left: 16px;
   @media(min-width: $tablet-horizontal){
      flex: 1;
   }
   &__list{
      position: absolute;
      top: 10%;
      left: 10%;
      right: 10%;
      @media(min-width: $tablet-horizontal){
         position: static;
         justify-content: flex-end;
         align-items: center;
         flex: 1;
         display: flex;
      }
   }
   &__list-item{
      margin: 40px auto;
      @media(min-width: 450px){
         margin: 60px auto;
      }
      @media(min-width: $tablet-horizontal){
         margin: 0 20px 0 0;
         &:last-child{
            margin-right: 0px;
         }
      }
   }
   &__inner-list-trigger{
      position: relative;
      &::after{
         position: absolute;
         top: 0px;
         right: -13px;
         display: inline-block;
         content: "";
         border: solid var(--color-secondary-accent);
         border-width: 0 2px 2px 0;
         padding: 4px;
         transform: rotate(45deg);
         -webkit-transform: rotate(45deg);
         transition: all 0.3s ease;
         cursor: pointer;
         @media(min-width: $tablet-vertical){
            border-width: 0 3px 3px 0;
            padding: 7px;
            top: -10px;
         }
         @media(min-width: $tablet-horizontal){
            border-width: 0 1px 1px 0;
            padding: 3px;
            top: 17px;
         }
      }
      @media (hover: hover) and (min-width: $tablet-horizontal){
         &:hover .navigation__inner-list{
            opacity: 1;
            visibility: visible;
            pointer-events: all;
         }
         &:hover::after{
            transform: rotate(-135deg);
            -webkit-transform: rotate(-135deg);
         }
      }
      @media(min-width: $tablet-horizontal){
         padding: 15px 0;
         margin-right: 30px;
      }
   }
   &__inner-list-trigger--active{
      &::after{
         transform: rotate(-135deg);
         -webkit-transform: rotate(-135deg);
      }
   }
   &__inner-list-content-wrapper{
      @media(max-width: 1023px){
         position: relative;
         opacity: 0;
         right: -100%;
         transition: all 0.5s;
         background-color: var(--color-secondary-accent);
         padding: 30px 10px 20px 20px;
         border-radius: 1rem;
         color: #0e1c32;
      }
   }
   &__inner-list-content-wrapper--active{
      @media(max-width: 1023px){
         opacity: 1;
         right: 0;
      }
   }
   &__inner-list{
      position: relative;
      display: none;
      transition: all 0.2s ease 0s;
      margin: 40px 0 0 20px;
      @media(min-width: 450px){
         margin: 40px 0 0 30px;
      }
      @media(min-width: $tablet-horizontal){
         border-radius: 1rem;
         white-space: nowrap;
         display: block;
         opacity: 0;
         visibility: hidden;
         pointer-events: none;
         position: absolute;
         top: 10%;
         left: -40px;
         color: #FFFFFF;
         background-color: var(--color-secondary-accent);
         padding: 15px 15px 15px 15px;
      }
   }
   &__inner-list--active{
      display: block;
      opacity: 1;
      visibility: visible;
      pointer-events: all;
   }
   &__inner-list-item{
      margin: 20px 0 0 0;
      line-height: 26px;
      @media(min-width: 450px){
         margin: 50px 0 0 0;
      }
      @media(min-width: $tablet-horizontal){
         line-height: 1.7em;
         margin: 10px 0 0 0;
      }
      &:first-child{
         margin: 0;
      }
   }
   &__link{
      text-transform: uppercase;
      @include menu-items-font;
      font-size: 24px;
      cursor: pointer;
      &:hover{
         @media(min-width: $tablet-horizontal){
            border-bottom: solid var(--color-secondary-accent) 1px;
         }
      }
      @media(min-width: 450px){
         font-size: 40px;
      }
      @media(min-width: $tablet-horizontal){
         @include menu-items-font;
      }
   }
   &__link--inner{
      &:hover{
         @media(min-width: $tablet-horizontal){
            border-bottom: solid #FFFFFF 1px;
         }
      }
   }
   &__body{
      @media(max-width: 1023px){
         display: flex;
         position: fixed;
         left: 0;
         top: -100%;
         width: 100%;
         height: 100%;
         background-color: #0e1c32;
         transition: top 0.3s ease 0s;
         overflow: auto;
         justify-content: center;
         align-items: center;
         z-index: 5;
      }
   }
   &__body--active{
      top: 0;
   }
}


.main{
   flex: 1 0 auto;
}
.main-block{
   margin-top: 70px;
   @media(min-width: $tablet-vertical){
      margin-top: 150px;
   }
   &__inner-container{
      width: 100%;
      margin: 0 auto;
   }
   &__title{
      @include title-first-font;
      color: var(--color-secondary-accent);
      margin-bottom: 23px;
      @media(min-width: $tablet-vertical){
         margin-bottom: 30px;
         max-width: 442px;
      }
      @media(min-width: $tablet-vertical){
         margin-bottom: 50px;
         max-width: initial;
      }
   }
   &__columns-block{
      text-align: center;
      display: flex;
      flex-direction: column-reverse;
      @media(min-width: $tablet-horizontal){
         flex-direction: row;
         column-gap: 40px;
      }
   }
   &__flex-column{
      &:first-child{
         flex: 0 0 32%;
      }
      &:last-child{
         flex: 1;
      }
   }
   &__description{
      @include p-first-font;
      color: var(--color-secondary-accent);
      margin: 0 auto 39px auto;
      display: block;
      text-align: center;
      @media(min-width: $tablet-vertical){
         margin-bottom: 30px;
         max-width: 442px;
      }
      @media(min-width: $tablet-horizontal){
         margin-bottom: 50px;
         max-width: none;
      }
   }
   &__sub-title{
      @include buttons-font;
      color: var(--color-secondary-accent);
      margin-bottom: 39px;
      text-align: center;
      &:last-child{
         text-decoration: underline;
         margin-bottom: 0;
      }
   }
   &__button{
      @include buttons-font;
      width: 70%;
      padding: 25px;
      margin: 0 auto 39px;
      // height: 77px;
   }
   &__button--orange{
      @include buttons-style--orange;
   }
   &__button--blue{
      @include buttons-style--blue;
   }
   &__image-container{
      margin: 0 auto;
      width: 100%;
      overflow: hidden;
      @media(min-width: $tablet-vertical){
         max-height: initial;
         max-width: initial;
      }
      @media(min-width: $tablet-horizontal){
         width: 100%;
      }
   }
   &__image-container--inside{
      display: none;
      @media(min-width: $tablet-vertical){
         display: block;
      }
   }
   &__image-container--outside{
      @media(min-width: $tablet-vertical){
         display: none;
      }
   }
   &__image{
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom center;
      @media(min-width: $tablet-horizontal){
         object-position: 56% bottom;
      }
   }
   &__text-block{
      margin-top: 35px;
      width: 100%;
      padding: 20px 10px;
      color: var(--color-primary-accent);
      text-align: center;
      @media(min-width: $tablet-vertical){
         padding: 30px 25px;
      }
      @media(min-width: $tablet-horizontal){
         padding: 45px 100px;
      }
   }
   &__text-block-plain-text{
      font-family: 'Montserrat', sans-serif;
      font-weight: 400;
      font-size: 26px;
      line-height: 1.36em;
      margin-bottom: 15px;
      @media(min-width: $tablet-vertical){
         font-size: 48px;
         line-height: 1.36em;
      }
   }
   &__text-block-sub-title{
      font-family: 'Montserrat', sans-serif;
      font-weight: 700;
      font-size: 26px;
      line-height: 1em;
      @media(min-width: $tablet-vertical){
         font-size: 48px;
         line-height: 1.36em;
      }
   }
   &__text-block-link{
      text-decoration: underline;
   }
}

.fields{
   &__title{
      @include title-second-font;
      color: var(--color-secondary-accent);
      margin: 50px auto 20px;
      text-align: center;
   }
   &__description{
      @include p-first-font;
      color: var(--color-secondary-accent);
      margin: 50px auto 20px;
      text-align: center;
   }
   &__discover-more-link-text{
      @include links-font;
      color: var(--color-secondary-accent);
      text-align: center;
   }
   &__cards-block{
      display: grid;
      row-gap: 40px;
      margin: 50px 0;
      @media(min-width: $tablet-vertical){
         display: grid;
         grid-template-columns: repeat(2, 1fr);
      }
      @media(min-width: $tablet-horizontal){
         display: grid;
         grid-template-columns: repeat(3, 1fr);
      }
      @media(min-width: $pc-small){
         display: grid;
         row-gap: 60px;
         grid-template-columns: repeat(4, 1fr);
      }
      @media(min-width: $pc-large){
         column-gap: 40px;
         display: grid;
         grid-template-columns: repeat(7, 1fr);
      }
   }
   &__card-container{
      @media(min-width: $tablet-vertical){
         &:last-child{
            grid-column-start: span 2;
         }
      }
      @media(min-width: $tablet-horizontal){
         &:last-child{
            grid-column-start: span 3;
         }
      }
      @media(min-width: $pc-small){
         &:nth-child(6){
            grid-column-start: span 2;
         }
         &:last-child{
            grid-column-start: 4;
         }
      }
      @media(min-width: $pc-large){
         &:nth-child(6){
            grid-column-start: 6;
         }
         &:last-child{
            grid-column-start: 7;
         }
      }
   }
   &__card-image-container{
      position: relative;
      width: 156px;
      height: 156px;
      margin: 0 auto 17px;
      overflow: hidden;
      cursor: pointer;
      @media(hover: hover){
         &:hover .fields__card-image-hover{
            top: 0;
         }
      }
   }
   &__card-image{
      width: 100%;
      position: absolute;
      margin: 0 auto 17px;
      display: block;
      transition: all 0.4s ease;
   }
   &__card-image-initial{
      z-index: 1;
   }
   &__card-image-hover{
      top: -110%;
      z-index: 2;
   }
   &__card-image-hover--active{
      top: 0;
   }
   &__card-description{
      @include p-second-font;
      color: var(--color-secondary-accent);
      text-align: center;
   }
}

.parallax{
   margin-top: 20px;
   height: 150px;
   overflow: hidden;
   border-top: solid 1px var(--color-secondary-accent);
   border-bottom: solid 1px var(--color-secondary-accent);
   position: relative;
   @media(min-width: $tablet-vertical){
      height: 200px;
   }
   @media(min-width: $tablet-horizontal){
      height: 250px;
   }
   @media(min-width: $pc-small){
      height: 300px;
   }
   @media(min-width: $pc-large){
      height: 350px;
   }
   &__outer-container{
      top: 0;
      height: 100%;
      position: absolute;
      width: 100%;
   }
   &__inner-container{
      width: 150px;
      position: absolute;
      // width: 100%;
      height: 100px;
      @media(min-width: $tablet-vertical){
         height: 150px;
         width: 250px;
      }
      @media(min-width: $tablet-horizontal){
         height: 150px;
         width: 300px;
      }
      @media(min-width: $pc-small){
         height: 150px;
         width: 300px;
      }
      @media(min-width: $pc-large){
         height: 150px;
         width: 450px;
      }
   }
   &__inner-container--left{
      animation: 50s linear 1s infinite alternate parallax-outer--left;
      left: -10%;
   }
   &__inner-container--middle{
      display: none;
      @media(min-width: $tablet-horizontal){
         display: block;
         left: 25%;
         top: 40%;
         animation: 45s linear infinite alternate parallax-outer--right;
      }
      
   }
   &__inner-container--right{
      right: 0;
      top: 10%;
      animation: 45s linear infinite alternate parallax-outer--middle;
   }
   &__inner-container--fourth{
      left: 5%;
      top: 95%;
      animation: 35s linear infinite alternate parallax-outer--middle;
   }
   &__inner-container--fifth{
      right: 25%;
      top: -25%;
      animation: 50s linear infinite alternate parallax-outer--left;
   }
   &__inner-container--sixth{
      display: block;
      right: 25%;
      top: 100%;
      animation: 25s linear infinite alternate parallax-outer--middle;
   }
   &__inner-container--seventh{
      display: block;
      right: 45%;
      top: 170%;
      animation: 35s linear infinite alternate parallax-outer--right;
   }
   &__image-container{
      position: absolute;
   }
   // &__image-container--animated{
      //    &:nth-child(1){
         //       animation: 35s linear infinite alternate parallax-single;
         //    }
         //    &:nth-child(2){
            //       animation: 45s linear infinite alternate parallax-single;
            //    }
            //    &:nth-child(3){
               //       animation: 55s linear infinite alternate parallax-single;
               //    }
               //    &:nth-child(4){
                  //       animation: 40s linear infinite alternate parallax-single;
                  //    }
                  //    &:nth-child(5){
                     //       animation: 30s linear infinite alternate parallax-single;
                     //    }
                     //    &:nth-child(6){
                        //       animation: 25s linear infinite alternate parallax-single;
                        //    }
                        //    &:nth-child(7){
                           //       animation: 30s linear infinite alternate parallax-single;
                           //    }
                           //    animation: 35s linear infinite alternate parallax-single;
                           // }
                           &__image{
                              width: 100%;
                           }
                           &__image--hr{
                              width: 50%;
                              position: relative;
                              left: 40%;
                           }
                        }
                        
                        
                        .getting{
                           margin-top: 72px;
                           &__title{
                              color: var(--color-secondary-accent);
                              @include title-second-font;
                              text-align: center;
                           }
                           &__columns{
                              display: flex;
                              flex-direction: column;
                              margin-top: 70px;
                              row-gap: 40px;
                              @media(min-width: $tablet-vertical){
                                 display: flex;
                                 flex-direction: row;
                                 column-gap: 99px;
                              }
                           }
                           &__column{
                              @media(min-width: $tablet-vertical){
                                 flex: 0 1 33.333%;
                              }
                           }
                           &__column-title{
                              color: var(--color-secondary-accent);
                              @include title-third-font;
                              margin-bottom: 20px; 
                           }
                           &__column-text{
                              @include p-second-font;
                              color: var(--color-secondary-accent);
                           }
                           &__read-more-link{
                              display: block;
                              @include links-font;
                              color: var(--color-secondary-accent);
                              margin-top: 60px;
                              text-align: center;
                              text-decoration: underline;
                           }
                        }
                        
                        
                        .cases{
                           margin-top: 70px;
                           &__title{
                              @include title-second-font;
                              color: var(--color-secondary-accent);
                              text-align: center;
                              margin-bottom: 30px;
                           }
                        }
                        
                        .slider{
                           // width: 100%;
                           position: relative;
                           margin: 0 auto;
                           min-width: 0;
                           @media(min-width: $tablet-horizontal){
                              padding: 0 60px;
                           }
                           &__slide-container{
                              display: flex;
                              width: 260px;
                              box-shadow: 1px 1px 7px #b8cff5, -1px -1px 7px #b8cff5;
                              border-radius: 10px;
                              margin: 5px 0 5px 15px;
                              padding: 15px;
                              column-gap: 10px;
                              @media(min-width: $tablet-vertical){
                                 border-radius: 15px;
                                 display: flex;
                                 column-gap: 30px;
                                 width: 550px;
                                 padding: 30px;
                                 margin: 5px 0 5px 15px;
                              }
                              @media(min-width: $tablet-horizontal){
                                 margin: 5px 15px 5px 15px;
                                 width: 550px;
                              }
                              @media(min-width: $pc-small){
                                 border-radius: 25px;
                                 margin: 5px 15px 5px 15px;
                                 width: 700px;
                              }
                              @media(min-width: $pc-large){
                                 margin: 5px 15px 5px 20px;
                                 width: 800px;
                              }
                           }
                           &__text-block{
                              flex: 1 0 58%;
                              @media(min-width: $tablet-horizontal){
                                 flex: 1 0 62%;
                              }
                              @media(min-width: $pc-large){
                                 flex: 1 0 58%;
                              }
                           }
                           &__title{
                              @include title-third-font;
                              color: var(--color-secondary-accent);
                              font-size: calc(10px + (26 - 10)*((100vw - 320px) / (1920 - 320))); //26px to 10px
                              line-height: 1em;
                              margin-bottom: 0.3em;
                           }
                           &__sub-title{
                              @include p-first-font;
                              color: var(--color-secondary-accent);
                              font-size: calc(8px + (16 - 8)*((100vw - 320px) / (1920 - 320))); //16px to 8px
                              line-height: 1.2em;
                              margin-bottom: 1em;
                           }
                           &__description{
                              @include p-second-font;
                              color: var(--color-secondary-accent);
                              font-size: calc(8px + (16 - 8)*((100vw - 320px) / (1920 - 320))); //16px to 8px
                              line-height: 1.2em;
                              margin-bottom: 2em;
                              @media(min-width: $tablet-vertical){
                                 line-height: 1.5em;
                              }
                           }
                           &__button{
                              @include buttons-font;
                              @include buttons-style--blue;
                              width: 100px;
                              padding: 1.2em;
                              margin: 0 auto 1.5em;
                              // height: 77px;
                              background-color: var(--color-secondary-accent);
                              color: #FFFFFF;
                              font-size: calc(8px + (16 - 8)*((100vw - 320px) / (1920 - 320))); //16px to 8px
                              line-height: 1em;
                              @media(min-width: $tablet-vertical){
                                 width: 200px;
                              }
                           }
                           &__question-link{
                              display: block;
                              @include links-font;
                              color: var(--color-secondary-accent);
                              text-decoration: underline;
                              font-size: calc(8px + (16 - 8)*((100vw - 320px) / (1920 - 320))); //16px to 8px
                              line-height: 1em;
                           }
                           &__image{
                              width: 100%;
                              // @media(min-width: $tablet-horizontal){
                                 //    width: auto;
                                 //    height: 300px;
                                 //    }
                              }
                           }
                           .slick-list{
                              overflow: hidden;
                           }
                           .slick-track{
                              display: flex;
                           }
                           .slick-arrow{
                              position: absolute;
                              top: 50%;
                              transform: translateY(-50%);
                              z-index: 5;
                              width: 50px;
                              height: 50px;
                              font-size: 0;
                              transition: all 0.3s;
                              &.slick-prev{
                                 left: -40px;
                                 background: url(../icons/slider-arrow-privious--grey.svg) 0 0 / 100% no-repeat;
                                 @media(min-width: $tablet-vertical){
                                    left: 0px;
                                    &:hover{
                                       background: url(../icons/slider-arrow-privious--blue.svg) 0 0 / 100% no-repeat;
                                    }
                                 }
                              }
                              &.slick-next{
                                 right: -40px;
                                 background: url(../icons/slider-arrow-next--grey.svg) 0 0 / 100% no-repeat;
                                 @media(min-width: $tablet-vertical){
                                    right: 0px;
                                    &:hover{
                                       background: url(../icons/slider-arrow-next--blue.svg) 0 0 / 100% no-repeat;
                                    }
                                 }
                              }
                           }
                           
                           .footer{
                              flex: 0 0 auto;
                              height: 250px;
                              display: flex;
                              flex-direction: column;
                              justify-content: center;
                              background-color: #F7F7F7;
                              &__container{
                                 margin: 0 auto;
                              }
                              &__instagram-link{
                                 margin: 0 auto 30px;
                                 text-align: center;
                              }
                              &__instagram-link-item{
                                 text-transform: uppercase;
                                 @include menu-items-font;
                                 color: var(--color-primary-accent);
                                 margin: 0 15px;
                              }
                              &__copyrights{
                                 margin: 0 auto;
                                 text-align: center
                              }
                              &__copyrights-text{
                                 font-family: 'Roboto', sans-serif;
                                 font-weight: 300;
                                 font-size: 13px;
                                 line-height: 15px;
                                 color: #878787;
                              }
                           }