@import '../_vars';
.qsm-quiz-form{
   position: relative;
   z-index: 5;
}
.qsm-page{
   border: solid var(--color-secondary-accent) 2px;
   border-bottom: none;
   border-radius: 12px 12px 0 0;
   padding: 5% 5% 0 5%;
}
.quiz_section{
   position: relative;
   display: flex;
   flex-wrap: wrap;
   padding: 0;
   flex-direction: column;
   @media(min-width: $tablet-horizontal){
      flex-direction: row;
   }
}
.qsm-input-label img{
   width: 100%;
   height: 100%;
   object-fit: contain;
}
.qsm-input-label{
   display: inline-block;
   // grid-template-rows: 1fr 1fr;
   // height: 100%;
   margin: 0;
   // max-width: 100%;
   transition: all 0.3s;
   cursor: pointer;
}
.qsm_image_caption{
   @include title-third-font;
   display: block;
   border-top: solid var(--color-secondary-accent) 2px;
   text-align: center;
   margin: 0;
   padding: 15px 5px;
   color: var(--color-secondary-accent);
   @media(min-width: $tablet-vertical){
      margin: 0;
   }
   @media(min-width: $tablet-horizontal){
      margin: 0;
   }
}
@media (hover: hover){
   .qmn_image_option:hover{
      background-color: rgba(204, 190, 60, 1);
   }
}
.qmn_image_option--active{
   background-color: rgba(204, 190, 60, 0.8);
}
.quiz_section .mlw_qmn_new_question{
   @include title-second-font;
   margin: 0;
   padding: 80px 20px 40px 20px;
   border: solid var(--color-secondary-accent) 2px;
   border-bottom: none;
   color: var(--color-secondary-accent);
   display: flex;
   align-items: center;
   @media(min-width: $tablet-vertical){
      margin: 0;
   }
   @media(min-width: $tablet-horizontal){
      flex: 0 1 45%;
      padding: 35px 20px 0 20px;
      border: solid var(--color-secondary-accent) 2px;
      border-right: none;
      margin: 0;
   }
   @media(min-width: $pc-large){
      flex: 0 1 50%;
   }
}
.quiz_section .mlw_qmn_question.qsm_remove_bold{
   margin: 0;
}

.qmn_image_option{
   transition: all 0.3s;
   /* flex: 0 0 30%; */
   width: auto;
   /* flex-wrap: wrap; */
   border: solid var(--color-secondary-accent) 1px;
   display: block;
   padding: 0;
   margin: 0;
   text-align: center;
}
.qmn_radio_answers{
   border: solid var(--color-secondary-accent) 1px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   @media(min-width: $tablet-horizontal){
      flex: 1 0 55%;
   }
   @media(min-width: $pc-large){
      flex: 1 0 50%;
   }
}
.qsm-results-page .qmn_image_option input[type="radio"], .qsm-results-page .qmn_image_option input[type="checkbox"], .quiz_section .qmn_image_option input[type="radio"], .quiz_section .qmn_image_option input[type="checkbox"]{
   position: absolute;
   user-select: none; 
   pointer-events: none;
   margin: 0;
   padding: 0;
   width: 0;
   height: 0;
   min-width: 0;
   min-height: 0;
   visibility: hidden;
}

.qmn_quiz_container select, .qmn_quiz_container textarea, .qmn_quiz_container input[type="text"], .qmn_quiz_container input[type="email"], .qmn_quiz_container input[type="url"], .qmn_quiz_container input[type="number"]{
   /* display: none; */
   flex: 0 0 100%;
}

.pages_count{
   @include title-third-font;
   position: absolute;
   top: 0;
   left: 0;
   padding: 15px;
   margin: 0;
   border-right: solid var(--color-secondary-accent) 2px;
   border-bottom: solid var(--color-secondary-accent) 2px;
   font-family: 'Montserrat', sans-serif;
   font-weight: 700;
   font-size: 26px;
   line-height: 1.36em;
   color: var(--color-secondary-accent);
   align-items: center;
   @media(min-width: $tablet-vertical){
      margin: 0;
   }
   @media(min-width: $tablet-horizontal){
      margin: 0;
      padding: 20px;
   }
}
.qmn_pagination{
   border: solid var(--color-secondary-accent) 2px;
   border-top: none;
   border-radius: 0 0 12px 12px;
   display: flex;
   justify-content: flex-end;
   padding: 0;
   height: auto;
   overflow: hidden;
}
.qmn_quiz_container .qmn_btn{
   @include p-first-font;
   display: block;
   flex: 0 0 50%;
   padding: 20px 0;
   height: 100%;
   margin: 0;
   text-align: center;
   color: var(--color-secondary-accent);
   transition: all 0.3s;
   @media (hover: hover){
      &:hover{
         background-color: rgba(0, 0, 0, 0.7);
      }
   }
   @media(min-width: $tablet-horizontal){
      font-size: 24px;
      margin-bottom: 0;
   }
}
.quiz_section--contacts-page{
   @media(min-width: $tablet-horizontal){
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 5%;
   }
   @media(min-width: $pc-small){
      padding-bottom: 40px;
   }
   input{
      width: 100%;
      padding: 15px 15px;
      margin: 10px auto 0;
      border-radius: 8px;
      box-shadow: 1px 1px 5px var(--color-secondary-accent), -1px -1px 5px var(--color-secondary-accent);
      -webkit-box-shadow: 1px 1px 5px var(--color-secondary-accent), -1px -1px 5px var(--color-secondary-accent);
      @media(min-width: $tablet-horizontal){
         padding: 20px 15px;
      }
   }
   span{
      @include p-second-font;
      color: var(--color-secondary-accent);
   }
}
.qsm-after-message{
   @include title-second-font;
   color: var(--color-secondary-accent);
   grid-column-start: span 2;
}
.qsm_contact_div{
   margin-bottom: 20px;
}
.qsm-contact-type-email{
   @media(min-width: $tablet-horizontal){
      grid-column-start: span 2;
   }
   margin-bottom: 30px;
   padding-bottom: 0;
}
.qmn_results_page{
   width: 100%;
   padding: 80px 0;
   border: solid var(--color-secondary-accent) 2px;
   border-radius: 12px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   @media(min-width: $pc-large){
   padding:120px 0;
   }
}
.quiz-result-page__content-wrapper{
   width: 100%;
   margin: 0 auto;
}
.quiz-result-page-title{
   text-align: center;
   &__text{
      @include title-second-font;
      color: var(--color-secondary-accent);
      font-size: 16px;
   }
}
.quiz-result-page-title__upper-segment{
   display: flex;
   border: solid var(--color-secondary-accent) 2px;
}
.quiz-result-page-title__upper-segment-right{
   padding: 15px;
   font-family: inherit;
}
.quiz-result-page-title__upper-segment-left{
   border-right: solid var(--color-secondary-accent) 2px;
   padding: 15px;
}
.quiz-result-page-title__middle-segment{
   width: 80%;
   margin: 0 auto;
   padding: 15px;
   border: solid var(--color-secondary-accent) 2px;
   border-top: none;
   border-bottom: none;
}
.quiz-result-page-title__lower-segment{
   padding: 15px;
   border: solid var(--color-secondary-accent) 2px;
}
.qsm-quiz-container{
   position: relative;
}
#mlw_error_message{
   color: red;
   padding: 0 0 15px 15px;
   font-size: 16px;
}
#mlw_error_message_bottom{
   display: none;
}