.iti__flag {background-image: url("../img/phone-input-flags/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("../img/phone-input-flags/flags@2x.png");}
}

.call-scheduler{
   display: none;
   position: absolute;
   left: 50%;
   top: 50%;

   &--active{
   display: inline-block;
   }
   &__container{
      padding: 10px;
      height: 0px;
      transition: height 0.8s;
      overflow: hidden;
      user-select: none;
   }
   &__container--active{
      height: 582px;
      user-select: all;
      @media(min-width: $tablet-vertical){
      height: 624px;
      }
      @media(min-width: $tablet-horizontal){
         height: 690px;
         }
   }
   &__card{
      border-radius: 12px;
      box-shadow: 5px 5px 5px rgba(63, 63, 63, 0.8), -5px 5px 5px rgba(63, 63, 63, 0.8);
   display: inline-block;
      padding: 15px;
      background-color: var(--color-secondary-accent);
      // background-color: var(--site-background-color);
   }
   &__wrapper{
      display: flex;
      flex-direction: column;
   }
   &__form{
      label{
         @include title-third-font;
         color: #FFFFFF;
         margin-bottom: 5px;
         @media(min-width: $tablet-vertical){
            margin-bottom: 5px;
         }
      }
   }
   &__single-entry-wrapper{
      display: flex;
      flex-direction: column;
      margin-bottom: 10px;
   }
   &__input{
      width: 250px;
      padding: 15px 15px;
      margin: 10px auto 0;
      border-radius: 8px;
      box-shadow: 1px 1px 5px var(--color-primary-accent), -1px -1px 5px var(--color-primary-accent);
      -webkit-box-shadow: 1px 1px 5px var(--color-primary-accent), -1px -1px 5px var(--color-primary-accent);
      @media(min-width: $tablet-horizontal){
      width: 300px;
      padding: 20px 15px;
      }
   }
}