.popup-form{
   display: none;
   justify-content: center;
   align-items: center;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.6);
   z-index: 20;
   overflow-y: auto;
   &__wrapper{
      width: 60vw;
      // height: 80vh;
      perspective: 1000px;
            @media(min-width: 350px){
               // width: 320px;
               // height: 480px;
            }
            @media(min-width: 768px){
               // width: 600px;
               // height: 404px;
            }
            @media(min-width: 1024px){
               // width: 800px;
               // height: 360px;
            }
         }
         &__closing-ribbon{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 35px;
         }
         &__closing-icon{
            cursor: pointer;
            &:hover .popup-form__closing-icon-inner{
               stroke: #D5D5D5;
            }
         }
         &__closing-icon-inner{
            stroke: #FFFFFF;
         }
         &__body{
            background-color: #FFFFFF;
            transform: rotateX(180deg) scale(0);
            transform-style: preserve-3d;
            opacity: 0;
            transition: all ease-in 0.3s;
            position: relative;
            height: 100%;
            padding: 3%;
         }
         // &__content{
         //    width: 100%;
         //    height: 100%;
         //    padding: 15px;
         //    -webkit-backface-visibility: hidden; /* Safari */
         //    backface-visibility: hidden;
         //    background-color: #FFFFFF;
         //    @media(min-width: 350px){
         //       padding: 30px;
         //    }
         //    @media(min-width: 768px){
         //       padding: 50px;
         //    }
         // }
      }
      .popup-form--active{
         display: flex;
      }
      .popup-form__body--active{
         transform: rotateX(0deg) scale(1);
         opacity: 1;
      }
      .popup-form__content--diactivated{
         display: none;
      }