.popup-window{
   display: none;
   justify-content: center;
   align-items: center;
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.6);
   z-index: 20;
   overflow-y: auto;
   &__wrapper{
      width: 90vw;
      // height: 80vh;
      perspective: 1000px;
      @media(min-width: $tablet-vertical){
         width: 80vw;
      }
      @media(min-width: $tablet-horizontal){
         width: 85vw;
      }
      @media(min-width: $pc-small){
         width: 80vw;
      }
      @media(min-width: $pc-small){
         width: 65vw;
      }
   }
   &__closing-ribbon{
      display: flex;
      justify-content: flex-end;
      align-items: center;
      height: 35px;
   }
   &__closing-icon{
      cursor: pointer;
      &:hover .popup-window__closing-icon-inner{
         stroke: #D5D5D5;
      }
   }
   &__closing-icon-inner{
      stroke: #FFFFFF;
   }
   &__body{
      border-radius: 12px;
      background-color: #FFFFFF;
      transform: rotateX(180deg) scale(0);
      transform-style: preserve-3d;
      opacity: 0;
      transition: all ease-in 0.5s;
      position: relative;
      height: 100%;
      padding: 3%;
   }
   &__content{
      -webkit-backface-visibility: hidden; /* Safari */
      backface-visibility: hidden;
   }
}
.popup-window--active{
   display: flex;
}
.popup-window__body--active{
   transform: rotateX(0deg) scale(1);
   opacity: 1;
}
.popup-window__content--diactivated{
   display: none;
}