.about-us{
   &__title{
      @include title-first-font;
      color: var(--color-secondary-accent);
      @media(min-width: $tablet-vertical){
      margin-bottom: 10px;
      }
   }
   &__sub-title{
      @include title-third-font;
      color: var(--color-secondary-accent);
   }
   &__sub-title--first{
      margin: 10px 0 50px 0;
   }
   &__article{
      @include p-first-font;
      color: var(--color-secondary-accent);
   }
   &__list{
      margin: 50px 0;
   }
   &__list-item{
      list-style: inside;
      @include p-first-font;
      color: var(--color-secondary-accent);
   }
}