.post-single{
   &__thumbnail-container{
      width: 100%;
      height: 130px;
      @media(min-width: $tablet-vertical){
         height: 250px;
      }
      @media(min-width: $tablet-horizontal){
         height: 300px;
      }
      @media(min-width: $pc-small){
         height: 350px;
      }
      @media(min-width: $pc-large){
         height: 400px;
      }
      img{
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   &__title-container{
      margin-bottom: 15px;
   }
   &__title{
      @include title-second-font;
      color: var(--color-secondary-accent);
      margin-bottom: 0;
   }
   &__wrapper{
      margin-top: 30px;
      @media(min-width: $tablet-horizontal){
         display: flex;
         column-gap: 40px;
      }
   }
   &__date-container{
      margin-bottom: 15px;
      padding-bottom: 10px;
      border-bottom: 1px solid var(--color-secondary-accent);
   }
   &__date{
      color: var(--color-secondary-accent);
      @include p-third-font;
   }
   &__paragraph{
      @include p-second-font;
      color: var(--color-secondary-accent);
   }
   &__post-image{
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
   &__post-image-block-contaner{
      margin-top: 40px;
   }
   &__post-image-contaner{
      height: 130px;
      margin-bottom: 20px;
      @media(min-width: $tablet-vertical){
         height: 250px;
      }
      @media(min-width: $tablet-horizontal){
         height: 330px;
      }
      @media(min-width: $pc-small){
         height: 400px;
      }
      @media(min-width: $pc-large){
         height: 450px;
      }
   }
   &__image-caption{
      @include p-third-font;
      line-height: 1em;
      color: var(--color-secondary-accent);
      position: relative;
      margin-left: 15px;
      padding-left: 10px;
      border-left: 1px solid var(--color-secondary-accent);
      @media(min-width: $tablet-vertical){
      line-height: 1em;
      }
   }
   &__paragraph-title{
      @include title-second-font;
      color: var(--color-secondary-accent);
      margin-top: 40px;
   }
   &__highlights-container{
      // border: solid 2px var(--color-primary-accent);
      border-radius: 12px;
      box-shadow: 1px 1px 3px var(--color-primary-accent), -1px -1px 3px var(--color-primary-accent);
      margin-top: 25px;
      padding: 10px;
      @media(min-width: $tablet-horizontal){
         margin: 0;
         flex: 0 0 30%;
         height: max-content;
      }
   }
   &__highlights-content{
      @media(min-width: $tablet-horizontal){
         margin-top: 10px;
      }
   }
   &__highlights-title{
      @include p-second-font;
      font-weight: 700;
      color: var(--color-primary-accent);
      padding: 10px 0 20px 10px;
      @media(min-width: $tablet-horizontal){
      padding: 10px 0 20px 10px;
      }
   }
   &__buttons-container{
      @include sections-margins;
      display: flex;
      justify-content: space-between;
   }
   &__buttons{
      @include links-font;
      color: var(--color-secondary-accent);
      cursor: pointer;
   }
   &__button-text-mobile{
      text-transform: uppercase;
      @media(min-width: $tablet-vertical){
         display: none;
      }
   }
   &__button-text-pc{
      display: none;
      @media(min-width: $tablet-vertical){
         display: inline;
      }
   }
   &__buttons--previous{
      &::before{
         content: '';
         background-image: url(../../assets/icons/left-arrow-blog.svg);
         background-size: contain;
         display: inline-block;
         position: relative;
         top: 60%;
         transform: translateY(-50%);
         margin-right: 10px;
         width: 32px;
         height: 32px;
      }
   }
   &__buttons--next{
      &::after{
         content: '';
         background-image: url(../../assets/icons/right-arrow-blog.svg);
         background-size: contain;
         display: inline-block;
         position: relative;
         top: 60%;
         transform: translateY(-50%);
         margin-left: 10px;
         width: 32px;
         height: 32px;
      }
   }
}

.post-highlight-slider{
   position: relative;
   .slick-arrow{
      &.slick-prev{
         left: -60px;
         @media(min-width: $tablet-vertical){
            left: -55px;
         }
      }
      &.slick-next{
         right: -60px;
         @media(min-width: $tablet-vertical){
            right: -55px;
         }
      }
   }
   .slick-track{
      @media(min-width: $tablet-horizontal){
         flex-direction: column;
         overflow: hidden;
      }
   }
}

.post-highlight{
   color: var(--color-secondary-accent);
   padding: 0 10px;
   @media(min-width: $tablet-horizontal){
      padding: 20px 10px;
   }
   &__thumbnail-container{
      width: 100%;
      height: 150px;
      margin-bottom: 10px;
      @media(min-width: $tablet-vertical){
         height: 300px;
      }
      @media(min-width: $tablet-horizontal){
         height: 250px;
      }
      @media(min-width: $pc-small){
         height: 200px;
      }
      img{
         width: 100%;
         height: 100%;
         object-fit: cover;
      }
   }
   &__date-container{
      margin-bottom: 10px;
      padding-bottom: 5px;
      border-bottom: 1px solid var(--color-secondary-accent);
   }
   &__date{
      @include p-third-font;
   }
   &__title-container{
      margin-bottom: 10px;
   }
   &__title{
      @include title-third-font;
      margin-bottom: 0;
      @media(min-width: $tablet-vertical){
         margin-bottom: 0;
      }
      @media(min-width: $tablet-horizontal){
         margin-bottom: 0;
      }
   }
   &__excerpt-container{
      margin-bottom: 10px;
   }
   &__excerpt{
      @include p-second-font;
   }
   &__read-more-link-container{
      @include links-font;
      text-align: right;
   }
}