.industries{
   @include sections-margins;
   &__outer-grid{
      @media(min-width: $pc-small){
         display: grid;
         grid-template-columns: 1fr 0.7fr;
         column-gap: 30px;
         row-gap: 15px;
      align-items: center;
      }
      @media(min-width: $pc-large){
         display: grid;
         grid-template-columns: 1fr 1fr;
         column-gap: 30px;
         row-gap: 0;
      }
   }
   &__outer-grid-cell--second{
      grid-row-start: span 2;
   }
   &__title{
      @include title-second-font;
      color: var(--color-secondary-accent);
   }
   &__list, &__list-item{
      @include p-first-font;
      line-height: 1em;
      color: var(--color-secondary-accent);
      list-style: inside;
   }
   &__list-item{
      @media(min-width: $pc-small){
         line-height: 1.36em;
         margin: 0;
      }
   }
   &__inner-grid{
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 8px;
      row-gap: 8px;
      margin: 30px 0;
      @media(min-width: $tablet-vertical){
         column-gap: 16px;
         row-gap: 16px;
         margin: 50px 0;
      }
   }
   &__inner-grid-cell--first{
      grid-column-start: span 2;
   }
   &__inner-grid-cell--first-warehouse{
      background: url('../../img/industries-page-group/warehouse-cell-bg-1.webp') no-repeat;
   }
   &__inner-grid-cell--second-warehouse{
      background: url('../../img/industries-page-group/warehouse-cell-bg-2.webp') no-repeat;
   }
   &__inner-grid-cell--third-warehouse{
      background: url('../../img/industries-page-group/warehouse-cell-bg-3.webp') no-repeat;
   }
   &__inner-grid-cell--first-trading{
      background: url('../../img/industries-page-group/trading-cell-bg-1.webp') no-repeat;
   }
   &__inner-grid-cell--second-trading{
      background: url('../../img/industries-page-group/trading-cell-bg-2.webp') no-repeat;
   }
   &__inner-grid-cell--third-trading{
      background: url('../../img/industries-page-group/trading-cell-bg-3.webp') no-repeat;
   }
   &__inner-grid-cell--first-industrial{
      background: url('../../img/industries-page-group/industrial-cell-bg-1.webp') no-repeat;
   }
   &__inner-grid-cell--second-industrial{
      background: url('../../img/industries-page-group/industrial-cell-bg-2.webp') no-repeat;
   }
   &__inner-grid-cell--third-industrial{
      background: url('../../img/industries-page-group/industrial-cell-bg-3.webp') no-repeat;
   }
   &__inner-grid-cell--first-food{
      background: url('../../img/industries-page-group/food-cell-bg-1.webp') no-repeat;
   }
   &__inner-grid-cell--second-food{
      background: url('../../img/industries-page-group/food-cell-bg-2.webp') no-repeat;
   }
   &__inner-grid-cell--third-food{
      background: url('../../img/industries-page-group/food-cell-bg-3.webp') no-repeat;
   }
   &__inner-grid-cell--first-agriculture{
      background: url('../../img/industries-page-group/agriculture-cell-bg-1.webp') no-repeat;
   }
   &__inner-grid-cell--second-agriculture{
      background: url('../../img/industries-page-group/agriculture-cell-bg-2.webp') no-repeat;
   }
   &__inner-grid-cell--third-agriculture{
      background: url('../../img/industries-page-group/agriculture-cell-bg-3.webp') no-repeat;
   }
   &__inner-grid-cell{
      position: relative;
      height: 125px;
      background-size: cover;
      background-position: center center;
      @media(min-width: $tablet-vertical){
         height: 300px;
      }
      @media(min-width: $tablet-vertical){
         height: 400px;
      }
      @media(min-width: $pc-small){
         height: 300px;
      }
      @media(min-width: $pc-large){
         height: 350px;
      }
   }
   &__inner-grid-cell-title{
      @include title-third-font;
      font-size: 14px;
      line-height: 1.1em;
      position: absolute;
      left: 10px;
      bottom: 10px;
      margin: 0;
      color: #FFFFFF;
      @media(min-width: $pc-small){
         left: 20px;
         bottom: 20px;
         margin: 0;
      }
   }
   &__sub-title{
      @include title-third-font;
      color: var(--color-secondary-accent);
   }
   &__article{
      @include p-first-font;
      color: var(--color-secondary-accent);
   }
}